div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    margin: 0 auto;
    width: 600px;
  }
  
  .first-row {
    padding: 60px;
    background: rgba(240, 240, 240, 0.788);
    width: 100%;
    display: inline-block;
    border-radius: 3px;
  }
  
  .second-row {
    display: flex;
  }
  
  .column {
    padding: 60px;
    width: 50%;
    background: #03dacf;
    border-radius: 5px;
  }
  
  .column:last-child {
    background: #22d6b8;
    border-radius:5px;
  }

  .presentation__tittle {
    font-family: 'Poppins';
    color: #11afa7cc ;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .presentation__subtittle {
    color: #7ba717;
    font-family: 'Poppins';
    font-size: 14px;
    margin-bottom: 5px;
  }

  .presentation__subtittle2 {
    color: #707272cc;
  }

  .price__tittle {
    font-size: 16px;
    font-family: 'Poppins';
    color: #fff;
    margin-bottom:10px;
  }

  .span__price {
    font-size: 24px;
    color: #fff;
  }

  .month__price {
    color: rgba(182, 182, 182, 0.603);
  }

  .price__subtittle {
    color: rgba(255, 255, 255, 0.685);
    margin-bottom: 25px;
    margin-top: 10px;

  }

  .price__button {
    font-size: 12px;
    font-family: 'Poppins';
    color: #fff;
    text-decoration: none;
    margin-top: 100px;
    padding: 10px 50px;
    border: 2px;
    background-color: #9ed127;
    border-radius: 5px;
  }

  .tittle {
    font-size: 20px;
    font-family: 'Poppins';
    color: #fff;
  }

  .why_tittle {
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
  }
